@font-face {
  font-family: 'Oswald';
  src: url(./fonts/Oswald-Regular.ttf);
}

@font-face {
  font-family: 'OpenSans';
  src: url(./fonts/OpenSans-Regular.ttf);
}

body {
  padding: 0;
  margin: 0;
}

header {
  width: 100%;
  background: #0000008e;
  z-index: 54445;
}

header .container {
  width: 100%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.5% 0;
}

header .container > div {
  width: 50%;
}

header .container .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .container .logo .earth {
  position: relative;
  width: 100px;
  height: 100px;
  background: #1b70ad url("images/earth.png");
  background-size: cover;
  border-radius: 50%;
  -webkit-box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.85);
          box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.85);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-animation: animate 12s linear infinite;
          animation: animate 12s linear infinite;
}

header .container .logo .earth ::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  overflow: hidden;
  background: url(images/cloud.png);
  background-size: cover;
  -webkit-animation: animate 18s linear infinite;
          animation: animate 18s linear infinite;
  z-index: 1;
}

header .container .logo .earth img {
  position: absolute;
  z-index: 2;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  pointer-events: none;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  width: 50%;
}

@-webkit-keyframes animate {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 719px 0;
  }
}

@keyframes animate {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 719px 0;
  }
}

header .container nav {
  width: 80%;
}

header .container nav ul {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .container nav ul li {
  padding: 0 5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header .container nav ul li a {
  color: white;
  font-family: 'Oswald';
  font-size: 25px;
}

header .container nav ul li :hover {
  color: gray;
}

header .container .burger-menu {
  display: none;
}

main .head {
  background: url(./images/1.jpeg) no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 840px;
  position: relative;
}

main .head .text {
  position: absolute;
  bottom: 15%;
  left: 5%;
}

main .head h1 {
  font-family: 'Oswald';
  color: white;
  font-size: 96px;
  margin-bottom: 3%;
}

main .head .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
}

main .head .icons i {
  padding: 2%;
  cursor: pointer;
}

main .banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

main .banner .content {
  width: 100%;
  background: #eac61e;
  padding: 4% 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .banner .content .left-arrow, main .banner .content .right-arrow {
  margin: 2%;
  color: white;
  cursor: pointer;
}

main .banner .content .left-arrow :hover, main .banner .content .right-arrow :hover {
  color: gray;
}

main .banner .content .center-content {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: 2fr 2fr 3fr;
      grid-template-columns: 2fr 2fr 3fr;
  -webkit-column-gap: 2%;
          column-gap: 2%;
}

main .banner .content .center-content > div {
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .banner .content .center-content > div h2 {
  font-family: 'Oswald';
  font-size: 48px;
}

main .banner .content .center-content > div img {
  width: 70%;
  height: inherit;
}

main .banner .slides {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: 2%;
}

main .banner .slides > div {
  margin: 0 2%;
  width: 40px;
  height: 4px;
  background: white;
  cursor: pointer;
}

main .banner .slides :hover {
  background: gray;
}

main .booking {
  width: 80%;
  margin: 5% auto;
}

main .booking .booking-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .booking .booking-content > div {
  width: 48%;
}

main .booking .booking-content .booking-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .booking .booking-content .booking-text h2 {
  font-family: 'Oswald';
  font-size: 48px;
}

main .booking .booking-content .booking-text p {
  font-family: 'OpenSans';
  margin: 3% 0;
  width: 70%;
}

main .booking .booking-content .booking-text a {
  font-family: 'OpenSans';
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  font-weight: bold;
  text-decoration: underline;
  text-underline-offset: 4px;
}

main .gallery {
  background: #f2f2f2;
  padding: 2%;
}

main .gallery .gallery-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3% 0;
}

main .gallery .gallery-text h2 {
  font-family: 'Oswald';
  font-size: 48px;
}

main .gallery .gallery-text p {
  text-align: center;
  width: 50%;
  font-family: 'OpenSans';
  margin: 1% 0;
}

main .gallery .gallery-pics {
  width: 90%;
  margin: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 2%;
  -webkit-column-gap: 1%;
          column-gap: 1%;
}

main .gallery .gallery-pics div {
  cursor: pointer;
  position: relative;
}

main .gallery .gallery-pics div img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

main .gallery .gallery-pics div :hover {
  -webkit-transform: scale(110%);
          transform: scale(110%);
}

main .locations {
  width: 100%;
}

main .locations .boxes {
  width: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .locations .boxes > div {
  width: 33.33%;
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .locations .boxes > div h3 {
  font-size: 24px;
}

main .locations .boxes > div h2 {
  font-family: 'Oswald';
  font-size: 36px;
  margin: 2% 0;
}

main .locations .boxes > div p {
  width: 50%;
  text-align: center;
  margin-bottom: 4%;
}

main .locations .boxes > div a {
  font-family: 'OpenSans';
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  font-weight: bold;
  text-decoration: underline;
  text-underline-offset: 4px;
}

main .locations .boxes .booking {
  background: #eac61e;
}

main .locations .boxes .location {
  background: #7eb9a3;
  color: white;
}

main .locations .boxes .location a {
  color: white;
}

main .locations .boxes .check-in {
  background: #1d5c40;
}

main .locations .map {
  background: url(./images/12.jpeg);
  background-position: center;
  background-size: cover;
  width: 100%;
  padding: 5% 0;
}

main .locations .map .map-content {
  width: 80%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

main .locations .map .map-content > div {
  width: 48%;
}

main .locations .map .map-content > div h2 {
  font-family: 'Oswald';
  font-size: 48px;
}

main .locations .map .map-content > div p {
  width: 60%;
  margin: 3% 0;
}

main .locations .map .map-content > div a {
  font-family: 'OpenSans';
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  font-weight: bold;
  text-decoration: underline;
  text-underline-offset: 4px;
  color: white;
}

main .contact {
  background: #f7f7f7;
}

main .contact .contact-form {
  width: 60%;
  margin: auto;
  padding: 5% 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .contact .contact-form .heading {
  text-align: center;
}

main .contact .contact-form .heading h2 {
  font-family: 'Oswald';
  font-size: 30px;
  margin: 1% 0;
}

main .contact .contact-form .heading h3 {
  color: gray;
  font-family: 'Oswald';
}

main .contact .contact-form form {
  margin-top: 5%;
  font-family: 'Oswald';
  color: gray;
}

main .contact .contact-form form .top {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

main .contact .contact-form form .top > div input {
  margin-top: 1%;
  width: 80%;
  height: 30px;
  border-radius: 5px;
  border: 1px solid #dddddd;
}

main .contact .contact-form form textarea {
  width: 90%;
  border: #dddddd;
}

main .contact .contact-form form .bottom {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

main .contact .contact-form form input[type='submit'] {
  background: cadetblue;
  border: 0;
  outline: 0;
  padding: 1% 3%;
  border-radius: 25px;
  color: white;
  font-family: 'Oswald';
  font-size: 16px;
}

footer {
  background: black;
  padding: 2%;
  color: white;
}

footer nav {
  width: 70%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer nav .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer nav .left ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer nav .left ul li a {
  color: white;
}

footer nav .left ul li :hover {
  color: rebeccapurple;
}

footer nav .left ul li:nth-child(2) a {
  padding: 0 25px;
}

footer nav .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer nav .logo img {
  width: 10%;
  cursor: pointer;
}

@media only screen and (max-width: 1800px) {
  main .booking .booking-content div img {
    width: 70%;
  }
  main .locations .map .map-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main .locations .map .map-content > div {
    width: auto;
  }
  main .locations .map .map-content .map-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}

@media only screen and (max-width: 1024px) {
  main .banner .content .center-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  main .banner .content .center-content div p {
    width: 70%;
  }
}

@media only screen and (max-width: 670px) {
  header .container nav {
    display: none;
  }
  header .container .burger-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: white;
  }
  main .banner .content .center-content .h2-heading, main .banner .content .center-content .p-text {
    display: none;
  }
  main .booking {
    width: 100%;
    margin: 0;
  }
  main .booking .booking-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main .booking .booking-content div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    text-align: center;
    padding-bottom: 2%;
  }
  .gallery .gallery-text {
    text-align: center;
  }
  .gallery .gallery-text h2 {
    font-size: 0.5em;
  }
  .map-div iframe {
    width: 100%;
  }
  main .contact .contact-form form .bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media only screen and (max-width: 490px) {
  .locations .boxes {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .locations .boxes .booking, .locations .boxes .location, .locations .boxes .check-in {
    padding: 2% 0;
    margin: 0;
    width: 100%;
    height: auto;
  }
}
/*# sourceMappingURL=style.css.map */