@font-face {
    font-family: 'Oswald';
    src: url(./fonts/Oswald-Regular.ttf);
}
@font-face {
    font-family: 'OpenSans';
    src: url(./fonts/OpenSans-Regular.ttf);
}
// MIXIN
@mixin h2-h {
    font-family: 'Oswald';
    font-size: 48px;
}
@mixin a-style {
    font-family: 'OpenSans';
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    text-decoration: underline;
    text-underline-offset: 4px;
}
body{
    padding: 0;
    margin: 0;
}
header{
    width: 100%;
    background: #0000008e;
    // position: absolute;
    z-index: 54445;
    .container{
        width: 50%;
        margin: auto;
        display: flex;
        .logo {
            // border: 1px solid red;
            width: 18%;
            img{
                width: 70%;
            
            }
        }
        nav{
            width: 48%;
            // border: 1px solid red;
            ul{
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                li{
                    padding: 0 5%;
                    box-sizing: border-box;
                    a{
                        color: white;
                        font-family: 'Oswald';
                        font-size: 25px;
                        
                    }
                    :hover{
                        color: gray;
                    }
                }
            }
        }
    }
}
main{
    // Section Head
    .head{
        background: url(./images/1.jpeg) no-repeat;
        background-position: center;
        background-size: cover;
        width: 100%;
        height: 840px;
        position: relative;
        .text{
            position: absolute;
            bottom: 15%;
            left: 5%;
        }
        h1{
            font-family: 'Oswald';
            color: white;
            font-size: 96px;
            margin-bottom: 3%;
        }
        .icons{
            display: flex;
            color: white;
            i{
                padding: 2%;
                cursor: pointer;
            }
        }
    }
    // Section Banner
    .banner{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        .content{
            width: 100%;
            background: #eac61e;
            padding: 4% 0;
            display: flex;
            justify-content: center;
            align-items: center;
            .left-arrow, .right-arrow{
                margin: 2%;
                color: white;
                cursor: pointer;
                :hover{
                    color: gray;
                }
            }
            .center-content{
                display: grid;
                align-items: center;
                grid-template-columns: 2fr 2fr 3fr;
                column-gap: 2%;
                >div{
                    height: 300px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    h2{
                        @include h2-h();
                    }
                    img{
                        width: 70%;
                        height: inherit;
                    }
                }
                
            }
        }
        .slides{
            display: flex;
            position: absolute;
            bottom: 2%;
            >div{
                margin: 0 2%;
                width: 40px;
                height: 4px;
                background: white;
                cursor: pointer;
            }
            :hover{
                background: gray;
            }
        }
    }
    // Section Booking
    .booking{
        width: 80%;
        margin: 5% auto;
        .booking-content{
            display: flex;
            justify-content: space-between;
            >div{
                width: 48%;
            }
            .booking-text{
                display: flex;
                flex-direction: column;
                justify-content: center;
                h2{
                    @include h2-h();
                }
                p{
                    font-family: 'OpenSans';
                    margin: 3% 0;
                    width: 70%;
                }
                a{
                    @include a-style();
                    // border-bottom: 2px solid black;
                }
            }
        }
    }
    // Section Gallery
    .gallery{
        background: #f2f2f2;
        .gallery-text{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 5% 0;
            h2{
                @include h2-h();
            }
            p{
                text-align: center;
                width: 50%;
                font-family: 'OpenSans';
                margin: 1% 0;
            }
        }
        .gallery-pics{
            width: 90%;
            margin: auto;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            row-gap: 2%;
            column-gap: 1%;
            div{
                cursor: pointer;
                position: relative;
                img{
                    width: 100%;
                    height: 100%;
                    border-radius: 5px;
                }
                :hover{
                    transform: scale(110%);
                }

            }
        }
    }
    // Section Locations
    .locations{
        width: 100%;
        .boxes{
            width: inherit;
            display: flex;
            align-items: center;
            >div{
                width: 33.33%;
                height: 400px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                h3{
                    font-size: 24px;
                }
                h2{
                    font-family: 'Oswald';
                    font-size: 36px;
                    margin: 2% 0;
                }
                p{
                    width: 50%;
                    text-align: center;
                    margin-bottom: 4%;
                }
                a{
                    @include a-style();
                }
            }
            .booking{
                background: #eac61e;
            }
            .location{
                background: #7eb9a3;
                color: white;
                a{
                    color: white;
                }
            }
            .check-in{
                background: #1d5c40;
            }
        }
        .map{
            background: url(./images/12.jpeg);
            background-position: center;
            background-size: cover;
            width: 100%;
            padding: 5% 0;
            .map-content{
                width: 80%;
                margin: auto;
                display: flex;
                justify-content: center;
                align-items: center;
                >div{
                    width: 48%;
                    h2{
                        @include h2-h();
                    }
                    p{
                        width: 60%;
                        margin: 3% 0;
                    }
                    a{
                        @include a-style();
                        color: white;
                    }
                }
                color: white;
            }
            // height: 500px;
        }
    }
    // Contact
    .contact{
        background: #f7f7f7;
        .contact-form{
            width: 60%;
            margin: auto;
            padding: 5% 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            // border: 1px solid red;
            .heading{
                text-align: center;
                h2{
                    font-family: 'Oswald';
                    font-size: 30px;
                    margin: 1% 0;
                }
                h3{
                    color: gray;
                    font-family: 'Oswald';
                }
            }
            form{
                margin-top: 5%;
                font-family: 'Oswald';
                color: gray;
                .top{
                    // border: 1px solid red;
                    width: 100%;
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    >div{
                        input{
                            margin-top: 1%;
                            width: 80%;
                            height: 30px;
                            border-radius: 5px;
                            border: 1px solid rgb(221, 221, 221);
                        }
                    }
                }
                textarea{
                    width: 90%;
                    border: rgb(221, 221, 221);
                }
                .bottom{
                    width: 100%;
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                }
                input[type='submit']{
                    background: cadetblue;
                    border: 0;
                    outline: 0;
                    padding: 1% 3%;
                    border-radius: 25px;
                    color: white;
                    font-family: 'Oswald';
                    font-size: 16px;
                }
            }
        }
    }
    
}
footer{
    background: black;
    padding: 2%;
    color: white;
    nav{
        width: 70%;
        margin: auto;
        display: flex;
        align-items: center;
        // justify-content: space-around;
        .left {
            display: flex;
            justify-content: center;
            align-items: center;
            ul{
                display: flex;
                justify-content: space-between;
                li {
                    a{
                        color: white;
                    }
                    :hover{
                        color: rebeccapurple;
                    }
                }
                li:nth-child(2) a {
                    padding: 0 25px;
                }
            }
        }
        .logo{
            display: flex;
            justify-content: center;
            img{
                width: 10%;
                cursor: pointer;
            }
        }
    }
}